<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCm7BtNjoTu5pm4HsQw3zW-8CmA91-RWJw</string>
	<key>GCM_SENDER_ID</key>
	<string>1062689125653</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.practice1.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>practice1-7890a</string>
	<key>STORAGE_BUCKET</key>
	<string>practice1-7890a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1062689125653:ios:33e5270f6a4afbf76ca51c</string>
</dict>
</plist>